# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcuserdatad
*.xcworkspace
!default.xcworkspace
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Firebase (CRITICAL - never commit this!)
GoogleService-Info.plist

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/
.build/

# iOS
*.icloud
build/